
.fondAsh{
    position: relative;
    height: 50vh;
    width: 50vh;
}
.ashFond{
    position: absolute;
    bottom: 0;
    background-image: url('random/ash1.png');
    background-repeat: no-repeat;
    height: 50%;
    width: 50%;
    z-index: 6;
}

.ashAnimate{
    animation: throwing 400ms 300ms;
}

.throwFond{
    position: absolute;
    background-image: url('random/aze.png');
    background-repeat: no-repeat;
    background-size: 100%;
    bottom: 32%;
    left: 13%;
    height: 5%;
    width: 5%;
    z-index: 5;
}
.throwAnimate{
    animation: throw 800ms 300ms;
}


@keyframes throw {
    0%{
        left: 13%;
    }
    12.5%{
        left: 0%;
    }
    25%{
        left: 0%;
        bottom: 39%;
    }
    37.5%{
        left: 15%;
        bottom: 45%;
        background-size: 100%;
    }
    100%{
        left: 65%;
        bottom: 76%;
        background-size: 50%;
    }
}
@keyframes throwing {
    0%{
        background-image: url('random/ash1.png');
    }
    25%{
        background-image: url('random/ash2.png');
    }
    50%{
        background-image: url('random/ash3.png');
    }
    75%{
        background-image: url('random/ash4.png');
    }
    100%{
        background-image: url('random/ash5.png');
    }
}